@font-face {
    font-family: 'AllerLightRegular';
    src: url('http://transition.zhanxz.net/fonts/aller-fontface/aller_lt-webfont.eot');
    src: local('?'), url('http://transition.zhanxz.net/fonts/aller-fontface/aller_lt-webfont.eot?iefix') format('eot'), url('http://transition.zhanxz.net/fonts/aller-fontface/aller_lt-webfont.woff') format('woff'), url('http://transition.zhanxz.net/fonts/aller-fontface/aller_lt-webfont.ttf') format('truetype'), url('../fonts/aller-fontface/aller_lt-webfont.svg#webfontywfdQTlG') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: white;
  color: #4C4C4B;
  font-family: AllerLightRegular;
  font-size: 1.1em;
}

a img {
  border: none;
}

a,
a:link
a:visited {
  color: purple;
  text-decoration: none;
}
a:hover,
a:focus {
  color: indigo;
  text-decoration: underline;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 90%;
  min-width: 700px;
  max-width: 900px;
  margin: 0 auto;
  /*background-color: #FFF;*/
  /*border: solid 1px black;*/
  margin-top: 20px;
}

#content {
  background-color: #F5F5DC;
  border-radius: 10px;
  float:right;
  width: 73%
}

#side-nav {
  background-color: purple;
  border-radius: 10px;
  color: white;
  float: left;
  /*font-weight: bold;*/
  width: 25%;
}
#side-nav ul {
  list-style-type: none;
}
#side-nav li {
  text-align: right;
}
#side-nav a:hover {
  background-color: violet;
  border-radius: 5px;
}
#side-nav a {
  display: block;
  padding-right: 5px;
}

.wrapper {
  width: 90%;
  min-width: 700px;
  max-width: 900px;
  margin: 0 auto;
  /*background-color: #FFF;*/
  /*border: solid 1px black;*/
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

form {

}

label {

}

input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 115%;
  border-radius: 5px;
  /*outline: none;*/
}
input:focus,
textarea:focus {
  border-color: gold;
}
input[type=text],
input[type=password],
textarea {
  background-color: white;
  box-shadow: inset 0 0 2px #4C4C4B;
  padding: 4px;
  min-width: 344px;
}
input[type=submit] {
  background-color: purple;
  color: white;
  padding: 5px 15px;
}
input[type=submit]:hover,
input[type=submit]:focus {
  background-color: indigo;
  cursor: pointer;
}

select {
  background-color: white;
  box-shadow: inset 0 0 2px #4C4C4B;
  line-height: 125%;
  min-width: 350px;
  padding-left: 2px;
}
option {
  padding: 4px;
}
textarea {

}

#user_name_first {
  width: 150px !important;
  min-width: 150px;
}
#user_name_last {
  width: 175px !important;
  min-width: 175px;
}
#user_name_middle {
  width: 30px !important;
  min-width: 30px;
}
#user_name_suffix {
  width: 75px !important;
  min-width: 75px;
}

.sortable {
  border-collapse: collapse;
  border-spacing: 0px;
  width:100%;
}
.sortable td, .sortable th {
  border: 2px solid white;
  vertical-align:middle;
}
.sortable thead {background: skyblue;}
.sortable thead th {
  font-size: 110%;
  padding: 8px 4px;
}
.sortable .odd {background: azure;}
.sortable .even {background: snow;}
.sortable tr:hover {background: skyblue;}
.sortable td {
  padding: 2px; 
  text-align: center;
}
.sortable a, .sortable a:link {
  text-decoration: none;
  display: block;
}
.sortable a:hover {
  background: #369;
  color: white;
}