<h2>The TR<sub>x</sub>ANSITION system</h2> 
<h3>Introduction</h3> 
<p>The program was started at the University of North Carolina at Chapel Hill.</p> 
<h3>Who was it designed for?</h3> 
<p>The study was designed for patients ages 12-22.</p> 
<h3>What are the goals for the participants?</h3> 
<p>Teach and educate patients about their conditions so they will be able to take primary responsibility for medicating and maintaining their health.</p> 
<h3>How do I join the study?</h3> 
<p>This study is roled out to specific insitutions.</p> 
<ol> 
  <li>If you are a patient and think you would benefit from this program, please talk to your primary health provider and encourage them to get in touch with us.</li> 
  <li>If you are a health provider, please see <a href="#">this page</a> for more information regarding bringing the TR<sub>x</sub>ANSITION program to your institution.</li> 
</ol> 